<form #f="ngForm" (ngSubmit)="submit(f)">
    <div ngModelGroup="contact" class="p-1">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input 
            required 
            minlength="4" 
            maxlength="12" 
            ngModel 
            name="firstname" 
            #firstname="ngModel" 
            id="firstname" 
            type="text" 
            class="form-control">
            <div 
            *ngIf="firstname.touched && firstname.errors" 
            class="alert alert-danger">
                <div *ngIf="firstname.errors.required">
                    First Name is mandatory
                </div>
                <div *ngIf="firstname.errors.minlength">
                    First Name min length is {{ firstname.errors.minlength.requiredLength }}
                </div>
                <div *ngIf="firstname.errors.maxlength">
                    First Name max length is {{ firstname.errors.maxlength.requiredLength }}
                </div>
            </div>
        </div>
        <div class="checkbox">
            <label for="isSubscribed"></label>
            <input 
            ngModel
            name="isSubscribed"
            id="isSubscribed"
            type="checkbox">
        </div>
        <div class="form-group">
            <label for="contactMethod">Contact Method</label>
            <select 
            ngModel
            name="contactMethod" 
            id="contactMethod" 
            class="form-control">
                <option value=""></option>
                <option *ngFor="let method of contactMethods" [value]="method.id">
                    {{ method.name }}
                </option>
            </select>
        </div>
        <div *ngFor="let method1 of contactMethods" class="radio">
            <label for="contactMethodRadio">
                <input 
                ngModel
                type="radio" 
                name="contactMethodRadio"
                id="contactMethodRadio"
                [value]="method1.id">
                {{ method1.name }}
            </label>
        </div>
        <p>
            {{ f.value | json }}
        </p>
        <div class="form-group">
            <label for="comment">Comment</label>
            <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control">
            </textarea>
        </div>
        <button class="btn btn-primary" 
        type="submit"
        [disabled]="!f.valid">Save</button>
    </div>
</form>