<form>
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input 
        required 
        minlength="4" 
        maxlength="12" 
        pattern="banana" 
        ngModel 
        name="firstname" 
        #firstname="ngModel" 
        id="firstname" 
        type="text" 
        class="form-control">
        <div 
        *ngIf="firstname.touched && firstname.errors" 
        class="alert alert-danger">
            <div *ngIf="firstname.errors.required">
                First Name is mandatory
            </div>
            <div *ngIf="firstname.errors.minlength">
                First Name min length is {{ firstname.errors.minlength.requiredLength }}
            </div>
            <div *ngIf="firstname.errors.maxlength">
                First Name max length is {{ firstname.errors.maxlength.requiredLength }}
            </div>
            <div *ngIf="firstname.errors.pattern">
                First Name can be banana
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngModel name="comment" id="comment" cols="30" rows="10" class="form-control">
        </textarea>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</form>