<button (click)="onAdd()">Add</button>
<button (click)="loadCoures()">Load Courses</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses; trackBy: trackCourse;">
            <td scope="row">{{ course.id }}</td>
            <td>{{ course.name }}</td>
            <td>
                <button (click)="onChange(course)">Update</button>
                <button (click)="onDelete(course)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>

<br />