<button (click)="onAdd()" [ngStyle]="{
    'backgroundColor': 'blue',
    'color': courses && courses.length ? 'white' : 'red'
}">Add</button>
<button (click)="loadCoures()">Load Courses</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses; even as isEven; trackBy: trackCourse;">
            <td scope="row">{{ course.id }}</td>
            <td>{{ course.name }}</td>
            <td>
                <button class="btn btn-primary" [ngClass]="{
                    'disabled': isEven,
                    'active': !isEven
                }" (click)="onChange(course)">Update</button>
                <button (click)="onDelete(course)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>

<br />