<h2>{{ authors.length }} - {{ title }}</h2>
<ul>
<li *ngFor="let author of authors">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ author.title | uppercase }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ author.rating | number:'2.2-2' }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ author.students | number }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ author.price | currency:'INR':true }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ author.releaseDate | date:'shortDate' }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|
</li>
</ul>